<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-2 invoicer_side_nav-seperator">
            <h1>Invoicer</h1>
            <ul>
                <li><a href="#" routerLink="/invoicer/clients">Clients</a></li>
                <li><a href="#" routerLink="/invoicer/accounts">Accounts</a></li>
                <li><a href="#" routerLink="/invoicer/transactions">Transactions</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>